body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
          font-family: 'PixelOperatorRegular'; 
  background-color: #555;
}
.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 700px;
  height: 550px;
  margin: auto;
  color: white;
  -webkit-box-shadow: 9px 9px 10px -3px rgba(0,0,0,0.75);
          box-shadow: 9px 9px 10px -3px rgba(0,0,0,0.75);
}
.game-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  background-color: #333;
}
.game-screen {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 2px white;
}
.game-screen-header {
  height: 300px;
  width: 700px;
  background-color: #444;
}
.game-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 0px 30px 15px;
  overflow: hidden;
  height: 166px;
  border: 2px solid black;
  color: #999;
}
.game-text-box p:last-child  {
  color: white;
  width: 600px;
  text-shadow: 1px 1px 5px black;
}
#title, .level-description {
  padding: 11px 16px;
  margin: 0;
  max-width: 600px;
  text-shadow: 1px 1px 5px black;
}
.terminal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  background-color: #444;
}
.terminal-input {
  font-size: 20px;
  padding: 0;
  margin-bottom: 5px;
  height: 50px;
  width: 610px;
  background-color: #242424;
  color: white;
  border: none;
  text-shadow: 1px 1px 5px black;
  font-family: 'Quantico', sans-serif;
}
.terminal-input:focus {
  outline: 0;
}
.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-width: 60px;
  background-color: #444;
}
.animation-fade-in {
  animation: 0.2s fade-in;
  -webkit-animation: 0.2s fade-in;
  z-index: 1;
}
#main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#enter-button {
  width: 89px;
  height: 50px;
  background-color: #333;
  -webkit-text-emphasis-style: bold;
          text-emphasis-style: bold;
  color: white;
  border: 1px solid green;
  position: absolute;
}
.game-button {
  width: 50px;
  height: 50px;
  background-color: #333;
  -webkit-text-emphasis-style: bold;
          text-emphasis-style: bold;
  color: white;
  border: 1px solid green;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
          box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
}
#inventory-button {
  margin-top: 20px;
  margin-bottom: 7px;
}
.nav-button {

  width: 50px;
  height: 50px;
  background-color: #333;
  -webkit-text-emphasis-style: bold;
          text-emphasis-style: bold;
  color: white;
  border: 1px solid green;
  -webkit-box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
          box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.75);
}
.inventory {
  padding: 16px;
}

.inventoryList {
  position: absolute;
  right: 100%;
  padding: 20px;
  background-color: #333;
  margin-right: 1%;
  border-radius: 10px;
  border: 2px dashed #555;
  font-size: 12px;
}

.commandList {
  position: absolute;
  right: 100%;
  padding: 10px 10px 0px 10px;
  background-color: #333;
  margin: 54% 1% 0% 0%;
  border-radius: 10px;
  border: 2px dashed #555;
  font-size: 12px;
  min-width: 160px;
  text-align: center;
}

.item {
  position: relative;
  padding: 5px 0px 10px 0px;
}

.ulInventory {
  margin: 0;
  padding: 5px;
}

.ulCommands {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.description {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 4;
  padding: 10px;
  border: 5px solid black;
  border-radius: 0 15px 15px 15px;
  -webkit-box-shadow: 3px 10px 10px #333;
          box-shadow: 3px 10px 10px #333;
  background-color: white;
  color: black;
  min-width: 180%;
}
.item-name:hover + .description{
  display: block;
}
#command-button {
  margin-bottom: 5px;
}
.game-title {
  font-size: 24px;
  letter-spacing: 6px;
  margin: 10px;
  text-shadow: 0 0 20px black;
  color: white;
  text-align: left;
}
#game-title-first-letter {
  font-size: 32px;
}
#title-animation {
  --webkit-animation: 0.47s infinite alternate blink-animation;
  animation: 0.47s infinite alternate blink-animation;
  -webkit-animation: 0.47s infinite alternate blink-animation;
}
.close-button {
  border: none;
  background-color: transparent;
  height: 30px;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.close-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

header {
  margin: -8px; 
  max-height: 60px;
  margin-bottom: 10px;
}

 header .copyright{
  font-size: 8px;
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 3px;
  margin: 5px;
}

.map-wrapper {
  position: absolute;
  left: 100%;
  padding: 20px;
  background-color: #333;
  margin-left: 30px;
  border-radius: 10px;
  border: 2px dashed #555;
}
.map-compass {
  position: relative;
  width: 32px;
  height: 32px;
  font-size: 10px;
}

.map-compass-needle {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 15px;
  left: 15px;
  z-index: 100;
  border-radius: 50%;
  animation: 3s compass-needle-wiggle alternate infinite;
  -webkit-animation: 3s compass-needle-wiggle alternate infinite;
}

.map-compass-needle:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 3px 12px 3px;
  border-color: transparent transparent #F00 transparent;
  top: -7px;
  left: 2px;
}

.map-compass-needle:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 3px 0 3px;
  border-color: #CCC transparent transparent transparent;
  bottom: -7px;
  left: 2px;
}

.map-compass:before {
  content: "";
  top: 12px;
  left: 19px;
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 16px;
}

.map-compass:after {
  content: "";
  top: 19px;
  left: 12px;
  position: absolute;
  background-color: #fff;
  width: 16px;
  height: 2px;
}
.map-compass-n {
  position: absolute;
  left: 50%;
}
.map-compass-s {
  position: absolute;
  top: 100%;
  left: 50%;
}
.map-compass-w {
  position: absolute;
  top: 50%;
}
.map-compass-e {
  position: absolute;
  top: 50%;
  left: 100%;
}
.map-row{
  display: flex;
  margin: 5px;

}
.map-cell {
  display: flex;
  width: 40px;
  height: 40px;
  position: relative;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.map-cell:after{
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  border: 2px solid #aaa;
}
.map-cell--current {
  border: transparent;

}
.map-cell--current:after{
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  border: 3px solid white;
  animation: 0.9s map-cell-current-room-glow infinite alternate;
}
.map-cell--hidden {
  opacity: 0;
  pointer-events: none;

}
.map-cell-connection {
  position: absolute;
  background-color: #aaa;
}
.map-cell-connection--n {
  top: -14px;
  height: 8px;
  width: 4px;
}
.map-cell-connection--s {
  bottom: -14px;
  height: 8px;
  width: 4px;
}
.map-cell-connection--w {
  left: -14px;
  height: 4px;
  width: 8px;
}
.map-cell-connection--e {
  right: -14px;
  height: 4px;
  width: 8px;
}
.map-cell-name {
  display: none;
  position: absolute;
  top: 100%;
  left: 100%;
  z-index: 4;
  animation: 0.8s map-cell-name-wiggle infinite alternate;
  -webkit-animation: 0.8s map-cell-name-wiggle infinite alternate;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  padding: 10px;
  border: 5px solid black;
  border-radius: 0 15px 15px 15px;
  -webkit-box-shadow: 3px 10px 10px #333;
          box-shadow: 3px 10px 10px #333;
  background-color: white;
  color: black;
}
.map-cell:hover .map-cell-name{
  display: block;
}
#mirror-room {
  animation: 1s compass-mirror-room-spin linear infinite;
  -webkit-animation: 1s compass-mirror-room-spin linear infinite;
}
@-webkit-keyframes blink-animation {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes map-cell-name-wiggle {
  0% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

@keyframes map-cell-name-wiggle {
  0% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1);
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}
@-webkit-keyframes map-cell-current-room-glow {
  0% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1)
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1)
  }
}
@keyframes map-cell-current-room-glow {
  0% {
    -webkit-transform: scale(1,1);
            transform: scale(1,1)
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1)
  }
}

@-webkit-keyframes compass-needle-wiggle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  28% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  35% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  55% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  70% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  90% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes compass-needle-wiggle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  28% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  35% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  55% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  70% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  90% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes compass-mirror-room-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes compass-mirror-room-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.TUTORIAL{
  color: orange;
}
.SADNESS{
  color: #5B97A3;
}
.LOVE{
  color: #D5879F;
}
.ANGER{
  color: rgb(253, 50, 39);
}
.JOY{
  color: #84AE90;
}

